body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header1 {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    flex: 1;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    align-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.links {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header2 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap:40px;
    flex: 1;
}

.main-hero {
    font-size: 48px;
    font-weight: 900;
    color: #f0faf8;
    margin-bottom: 10px;
}

.text-hero {
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;
}

.sign-button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    padding: 5px 24px;
    margin-top: 8px;
    border-radius: 10px;
    border: none;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

.text-body {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.text-list {
    width: 200px;
}

.images-body {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 50px;
}

li img {
    border: solid #1F2937;
}